<div class="form-container">
  <form class="form" [formGroup]="resturantForm">
    <div>
      <label for="name">Resturant Name</label><br>
      <input id="name" type="text" placeholder="Enter Resturant Name" formControlName="name" required/>
    </div>
    <div formGroupName="address">
      <div>
        <label for="city">City</label><br>
        <input id="city" type="text" placeholder="Enter City" formControlName="city" required />
      </div>
      <div>
        <label for="street">Street</label><br>
        <input id="street"type="text" placeholder="Enter Street" formControlName="street" />
      </div>
    </div>

    <div>
      <label for="description">description</label><br>
      <textarea id="description" type="text" placeholder="Enter A Describtion" formControlName="description"></textarea>
    </div>

    <button [disabled]="resturantForm.invalid" class="btn" (click)="submit()">Submit</button>
  </form>
</div>
